.cart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;

  .cart_purchase {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 560px;

    button {
      font-size: 20px;
      padding: 8px;
      outline: none;
      background-color: lightgreen;
      border-color: lightgreen;
      margin-right: 40px;
      transition: 0.2s ease-in;

      &:hover {
        transform: scale(1.1);
        background-color: rgb(112, 228, 112);
        cursor: pointer;
      }
    }
  }

  .empty_cart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 400px;
    margin-top: 20px;

    p {
      padding-top: 40px;
      font-size: 22px;
      margin-top: 10px;
      text-align: center;
    }

    h2 {
      position: absolute;
      color: red;
      text-align: center;
      animation: empty 2s ease-in infinite;
    }
  }
}

@keyframes empty {
  0% {
    font-size: 31px;
  }

  15% {
    font-size: 32px;
  }

  25% {
    font-size: 33px;
  }

  35% {
    font-size: 34px;
  }

  50% {
    font-size: 35px;
  }

  65% {
    font-size: 34px;
  }

  75% {
    font-size: 33px;
  }

  85% {
    font-size: 32px;
  }

  100% {
    font-size: 31px;
  }
}


@media only screen and (max-width:600px) {
  .cart_container {
    section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;

      .quantity {
        display: flex;
        flex-direction: row;
        margin: 8px 0;
      }

      img {
        margin: 8px 0;
      }

      h3 {
        text-align: center;
        margin-left: 50px;
        width: 100%;

      }

      p {
        margin-left: 100px;
        margin: 5px 0;
        width: 62px;
      }

      h2 {
        margin: 0;
        margin-bottom: -20px;
      }

      button {
        padding: 0 5px;
        margin: 8px 0;
      }
    }

    //cart container selectors
    .cart_purchase {
      margin: 20px 0;
    }

    .empty_cart {
      h2 {
        font-size: 30px;
        color: red;
      }

      p {
        font-size: 19px;
        margin-top: 10px;
      }
    }
  }
}